ul
  li: a(href='foo') Foo
  li: a(href='bar') Bar
  li: a(href='baz') Baz

ul
  li: a(href='foo') Foo
  li: a(href='bar') Bar
  li: a(href='baz') Baz

ul
  li: a(href='foo') Foo
  li: a(href='bar') Bar
  li: a(href='baz') Baz